
.wrapper {
    width: 960px;
    margin: 0 auto;
}
header {
    width: 960px;
    
}

.banner {
    clear: both;
    width: 960px;
    height: 150px;
    background-color:antiquewhite;
    float: right;
    margin-top: 5px;
}

.logo {
    width: 200px;
    height: 150px;
    background-color:darkgreen;
    float: right;
}
nav {
    width: 960px;
   clear:both;
  
}
nav ul li{
    display:inline;
}
    nav ul li a {
        display: inline-block;
        text-decoration: none;
        font-size: 20px;
        color: white;
        padding: 10px 0;
        width:190px;
        background-color: black;
        text-align: center;
     
        border:1px solid white;
    }
    nav ul li a:hover{
    background-color:darkolivegreen;
    color:black;
    font-weight:bold;

    }
    .container{
        width:960px;
       
    }
    .content{
        width:700px;
        float:left;
    }
article {
    margin: 5px 0;
    border: 1px solid black;
    float:left;
}
    article h2 {
        font-size: 20px;
        margin: 4px 2px;
        font-weight: bold;
        padding:0 5px ;
    }
article h2:hover {
    font-size: 22px;
    color:blue;
}
    article p {
        margin: 2px 2px;
        font-size: 16px;
        line-height: 1.5;
        padding:0 5px ;
    }
 aside{
     float:right;
     width:255px;
     border:1px solid Black;
     margin-top:5px;
 }
 section{
    margin:1px 0;
 }
    section h2 {
        font-size: 20px;
        padding-top: 4px;
        font-weight: bold;
        padding: 0 3px;
    }
    section p {
        line-height: 1.3;
        padding:0 5px;
    }
    section h2:hover {
        font-size: 22px;
        color: blueviolet;
    }
footer {
    width: 960px;
    height: 50px;
    background-color: aqua;
    clear: both;
}
        footer h2 {
            font-size: 20px;
            color:  brown;
            text-align:center;
            padding:15px;
            font-weight:bold;
        }
marquee {
    width: 960px;
    height: 35px;
    background-color: aqua;
    
}
    marquee h2 {
        padding: 4px;
        font-weight: bold;
        color: deeppink;
        font-size: 23px;
  
    }
        marquee h2:hover {
            font-size: 25px;
            color: darkslategrey;
            -moz-animation-play-state: paused;
            -webkit-animation-play-state: paused;
            animation-play-state: paused;
        }
    